.board {
  border: 0.2rem solid $light-black;
  display: grid;
  gap: 0;
  justify-self: center;

  &.three {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  &.five {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  &.seven {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}

.board-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
