.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 15rem;
  height: 15rem;
  border: 0.2rem solid $light-black;

  &.three {
    width: 15rem;
    height: 15rem;
  }

  svg {
    width: 80%;
    height: 80%;
  }
}
