.head {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: center;
  font-size: 2.4rem;
}

.types {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.type {
  cursor: pointer;
  background: $base-white;
  font-size: 1.8rem;
  font-weight: bold;
  color: $base-black;
  padding: 1.2rem 2.4rem;
  border: 0.1rem solid $base-blue;
  border-radius: 3rem;
  transition: 0.2s ease;

  &:hover {
    background: $base-blue;
    color: $base-white;
    transition: 0.2s ease;
  }
}
