.scores {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.scores-names,
.scores-values {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  span {
    text-align: center;
    width: 100%;
    justify-self: center;
  }
}

.scores-names {
  input {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    outline: 0.2rem solid transparent;
    transition: 0.3s all ease;
    border-radius: 1rem;

    &:focus-within {
      outline: 0.2rem solid $light-black;
      transition: 0.3s all ease;
    }
  }
}

.scores-values {
  span {
    font-size: 2.4rem;
    font-weight: bold;
  }
}
