.scores {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.scores-names,
.scores-values {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &.reversed {
    flex-direction: row-reverse;
  }

  span {
    text-align: center;
    width: 100%;
    justify-self: center;
  }
}

.scores-names {
  input {
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    outline: 0.2rem solid transparent;
    transition: 0.3s all ease;
    border-radius: 1rem;

    &:focus-within {
      outline: 0.2rem solid $light-black;
      transition: 0.3s all ease;
    }
  }
}

.scores-values {
  span {
    font-size: 2.4rem;
    font-weight: bold;
  }
}

.scores-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    width: 70%;
    font-size: 2rem;
    background: $base-blue;
    color: $base-white;
    border-radius: 0.5rem;
    padding: 0.8rem 0;
    cursor: pointer;
    transition: 0.3s ease all;

    &:hover {
      background: $hover-blue;
      transition: 0.3s ease all;
    }
  }
}
